<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coursefreak.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".NotificationTest"
            android:label="@string/title_activity_notification_test"
            android:theme="@style/NoActionBar"
            android:exported="true"
            ></activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".SignupPage" />
        <activity
            android:name=".Courses"
            android:label="@string/title_activity_courses"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CourseView"
            android:exported="true"
            android:label="@string/title_activity_courseview"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".PartnerView"
            android:exported="true"
            android:label="@string/title_activity_partner_view"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UGView"
            android:label="@string/title_activity_ugview" />
        <activity
            android:name=".TabsCoursesActivity"
            android:exported="true" />
        <activity
            android:name=".WalkthroughActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity
            android:name=".CourseDataActivity"
            android:exported="true" />

        <service android:name=".java.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


    </application>



</manifest>